<div class="container">
  <h1>Add new Restaurant</h1>
  <p>use form below</p>


  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.submit "add a review", class: "btn btn-primary" %>
  <% end %>
</div>
